---
import Layout from "../../layouts/Layout.astro";
import recipes from "../../data/recipes.json"
import { IngredientList } from "../../components/IngredientList"
import SampleComponent from "../../components/SampleComponent"

export async function getStaticPaths() {

 const paths = recipes.recipes.filter((recipe) => recipe.slug); 

  return paths.map((recipe) => {
    return {
      params: { slug: recipe.slug },
      props: { recipe }
    };
  });
}

const { recipe } = Astro.props;

---

<Layout title={recipe.name}>
	<main class="main-container">
        <h1 class="title"> {recipe.name}</h1>
        <p>{recipe.description}</p>
        <div class="stats-container">
            {recipe["prep-time"] ?  <p>Prep time: {recipe["prep-time"]}</p> : null }
            <p>Cooking time: {recipe["cooking-time"]}</p>    
            <p>Serves: {recipe.serves}</p>
            <p>Cuisine: {recipe.cuisine}</p>
            <p>Difficulty: {recipe.difficulty}</p>
        </div>
        <div id="ingredients-container">
            <IngredientList client:only="solid"  title="Ingredients list" recipe={recipe} />
        </div>
        <div>
            <h2>Directions</h2>
            <ol>
                {recipe.instructions.map((instruction) => <li>{instruction}</li>)}
            </ol>
        </div>
	</main>
</Layout>

<style>
  h1, h2, p , li {
    color: white;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .stats-container {
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    border-top: 12px solid purple;
    margin-top: 30px;
  }

  button {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }


</style>
